<main>
    <div class="main-img">
        <img class="img-mobile" src="../../assets/images/image-web-3-mobile.jpg" alt="" srcset="">
        <img class="img-destok" src="../../assets/images/image-web-3-desktop.jpg" alt="" srcset="">
    </div>
    <div class="main-title">
      <h1>The Bright <br>Future Of <br>   Web 3.0?</h1>
    </div>
    <div class="main-text">
       <p>
        We dive into the next evolution of web that claims to put the power of plataforms back into the hands of the people. But is it really fulfilling its promise?
       </p>
       <button class="main-text-button">READ MORE</button>
    </div>
  </main>
