main {
    background-color: white;
    margin: 5px;
    display: grid;
    
    grid-template:
    "main-img  main-img"
    "main-title main-text"
    ;
  }
  
  /* PARA LA IMAGEN */
  .main-img {
    grid-area: main-img;
    background-repeat: no-repeat;
  }
  .main-img img {
    width: 100%;
  }
  
  .main-title {
      margin-top: 10px;
      grid-area: main-title;
     
    }
    .main-text {
      margin-top: 10px;
      grid-area: main-text;
      color: rgb(97, 90, 90);
      padding: 10px;
      text-align: justify;
    }
    
  .main-text-button{
      margin-top: 20px;
      background: black;
      color: white;
      padding: 10px;
      border: 0;
      width: 150px;
  }
  
  .main-text-button:hover{
      background-color: red;
  }
  .img-mobile{
      display: none;
  }
  @media (max-width:600px){
      main {
          
          
          grid-template:
          "main-img"
          "main-title"
          "main-text"
          ;
        }  
        .img-mobile{
          display: block;
        }
        .img-destok{
          display: none;
        }
  }