<header>
    <div class="header-icono">
     <img src="../../assets/images/logo.svg">
    </div>
   <div class="header-icon-menu">
     <img src="../../assets/images/icon-menu.svg" class="header-menu-img">
   </div>
    <div class="header-menu">
     <a href="#" class="header-menu-item">Home</a>
     <a href="#" class="header-menu-item">New</a>
     <a href="#" class="header-menu-item">Popular</a>
     <a href="#" class="header-menu-item">Trending</a>
     <a href="#" class="header-menu-item">Categories</a>
 
    </div>
 </header>
